body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;         
    line-height: 1.5;
    background-color: #f5f5f5; 

}
.container{
    background-color: white;
    padding: 20px;
    border-radius: 13px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
    width: 350px;
    justify-content: center;
    margin: 0 auto;
}
h2{
    text-align: center;
}

.uploadContainer{
    display: flex;
    padding-top: 10px;
}
#mediaUpload{
    border-radius: 5px;
    text-align: center;
    align-items: center;
    
}
#caption{
    height: 70px;
    width: 100%;
    border-radius: 10px;
     padding-left: 6px;
     padding-top: 6px;
    font-weight: 400;        
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
#caption::placeholder{
    padding-left: 10px;
    font-size: 15px;
}
#btn{
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;          
    line-height: 1.5;
}
.btnWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
input{
    margin-top: 20px;
}
.platforms, .platforms2{
    display: flex;
    flex-direction: column;
    margin-right: 38px;
}

.platformsContainer{
    display: flex;
    flex-direction: row;
}






