body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;          /* default weight for normal text */
    line-height: 1.5;
    background-color: #f5f5f5; /* optional soft background */

}
.container{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
    width: 350px;
    justify-content: center;
    margin: 0 auto;
}
h2{
    text-align: center;
}

.uploadContainer{
    display: flex;
    padding-top: 10px;
}
#mediaUpload{
    border-radius: 5px;
    text-align: center;
    align-items: center;
    
}
#caption{
    height: 70px;
    width: 100%;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;         
}
#caption::placeholder{
    padding-left: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
#btn{
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:  #007bff;
    padding: 15px;
    border-radius: 15px;
    margin-top: 40px;
    color: white;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;          
    line-height: 1.5;
    border: none;
}
.btnWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
input{
    margin-top: 20px;
}
.platforms, .platforms2{
    display: flex;
    flex-direction: column;
    margin-right: 38px;
}

.platformsContainer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.share{
    margin-bottom: -5px;
    margin-top: 40px;
}
a{
    color: red;
}
.foot{
    color: red;
}
footer{
    text-align: center;
    margin-top: 0px;
}

/* for mediaUpload button*/
.upload-container {
  display: flex;
  align-items: center;
  gap: 12px;  /* space between button and file name */
  margin-top: 15px;
}

.upload-btn {
  display: flex;
  align-items: center;      /* vertical align icon and text */
  gap: 8px;                 /* space between icon and text */
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;

}

.upload-btn:hover {
  background-color: #0056b3;
}

#file-name {
  font-style: italic;
  color: #555;
}
.uploadIcon {
  width: 28px;     /* adjust size */
  height: 30px;
}

